
beautifulsoup4==4.14.3
click==8.3.1
lxml==6.1.1
numpy==2.4.3
pandas==2.3.3
psycopg2-binary==2.9.12
selenium==4.44.0
webdriver-manager==4.1.1
websocket-client==1.9.0

streamlit==1.58.0
requests==2.34.2
plotly==6.8.0
fastapi==0.136.3
uvicorn==0.49.0
databricks-sql-connector==4.2.6
python-dotenv==1.2.2
matplotlib==3.10.7
seaborn==0.13.2
mplsoccer==1.6.1
statsbombpy==1.19.0